{% extends 'package/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Report</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                        <div class="col-xs-9">
                            Clothes&Shoes
                        </div>
                        <div class="col-xs-1">$236.40</div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-2">
                        <hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-8">
                                    Nordstorm:
                                </div>
                                <div class="col-xs-2">
                                    $100.99
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                        <div class="col-xs-9">
                            Food
                        </div>
                        <div class="col-xs-1">$98.45</div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-3">
                        <hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-8">
                                    Walmart:
                                </div>
                                <div class="col-xs-2">
                                    $39.99
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
                        <div class="col-xs-9">
                            Kitchen&Bath
                        </div>
                        <div class="col-xs-1">$58.45</div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-4">
                        <hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-8">
                                    Bed Bath&Beyond:
                                </div>
                                <div class="col-xs-2">
                                    $39.99
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-5">
                        <div class="col-xs-9">
                            Cosmetics
                        </div>
                        <div class="col-xs-1">$88.00</div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-5">
                        <hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-8">
                                    Sephora:
                                </div>
                                <div class="col-xs-2">
                                    $55.88
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row toggle" id="dropdown-detail-6" data-toggle="detail-6">
                        <div class="col-xs-9">
                            others
                        </div>
                        <div class="col-xs-1">$40.45</div>
                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                    </div>
                    <div id="detail-6">
                        <hr>
                        <div class="container">
                            <div class="fluid-row">
                                <div class="col-xs-8">
                                    6pm:
                                </div>
                                <div class="col-xs-2">
                                    $20.99
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[id^=detail-]').hide();
            $('.toggle').click(function () {
                $input = $(this);
                $target = $('#' + $input.attr('data-toggle'));
                $target.slideToggle();
            });
        });
    </script>
{% endblock %}
